body {
    background-color: #e8eaff;
}

header {
    margin-top: 20px;
    text-align: center;
    color:#ffab00
}

.navbar-sobre {
    background: #3737a6;
    background: linear-gradient(90deg,#3737a6 21%, #070f2e 100%);
}

.imgPrincipal {
    object-fit: contain;
    background-color: #ffab00;
    border-radius: 50%;
    padding: 4px;
}
.h1_titulo--bibliolend {
    color: #002562
}
.p_descripcion--bibliolend {
    font-size: 18px;
    color:#070f2e;
}

.navbar-sobre .nav-link {
    font-weight: bold;
}

.formulario {
    border: 10px solid #ffab00;
}

.estilosInputs:focus {
    outline-width: 5px;
    outline-color: #ffab00;
    outline-style: solid;
}

.estilosInputs {
    transition: outline-color, outline-width, outline-style;
    transition-duration: 0.3s;
}

.btn-outline-secondary {
    border-color: #3737a6;
    color: #3737a6;
    background-color: transparent;
}

.btn-success {
    background-color: #002562;
    border-color: #002562;
    color: white;
    position: relative;
    bottom: 0px;
}

.btn-success:hover {
    background-color: #ffab00;
    border-color: #ffab00;
    color: black;
    bottom: 3px;
    transition: bottom;
    transition-duration: 0.3s;
    border: 1px solid #0006;
    box-shadow: 0px 5px 5px 0px #000d;
}

.btn-outline-secondary:hover {
    border-color: #3737a6;
    background-color: #3737a6;
    color: white;
}

footer {
    background: #3737a6;
    background: linear-gradient(90deg,#3737a6 21%, #070f2e 100%);
    color: white;
    height: 200px;
}