.navbar-sobre {
    background: #3737a6;
    background: linear-gradient(90deg,rgba(55, 55, 166, 1) 21%, rgba(7, 15, 46, 1) 100%);
}

body {
    background-color: #e8eaff;
}

.img-principal {
    object-fit: contain;
    background-color: #d1ae54;
    border-radius: 50%;
    padding: 4px;
}

.navbar-sobre .nav-link {
    font-weight: bold;
}

.btn-success {
    background-color: #2a2f7b;
    cursor: pointer;
    border-color: #d1ae54;
    
}
    .btn-success:hover {
    background-color: #2a06ce;
}

footer {
    background: #3737a6;
    background: linear-gradient(90deg,rgba(55, 55, 166, 1) 21%, rgba(7, 15, 46, 1) 100%);
    color: white
}