body {
    background-color: #e8eaff;
}

.titulo-logo {
    font-size: 23px;
}

.navbar-sobre {
    background: #3737a6;
    background: linear-gradient(90deg,#3737a6 21%, #070f2e 100%);
}

.navbar-sobre .navbar-brand img {
    object-fit: contain;
    background-color: #d1ae54;
    border-radius: 50%;
    padding: 4px;
}

.btn-success {
    background-color: #2a2f7b;
    cursor: pointer;
    border-color: #d1ae54;
    
}
    .btn-success:hover {
    background-color: #2a06ce;
}

.btn-outline-secondary {
    border-color: #3737a6;
    color: #3737a6;
    background-color: transparent;
}

.btn-outline-secondary:hover {
    border-color: #3737a6;
    background-color: #3737a6;
    color: white;
}


.navbar-sobre .nav-link {
    font-weight: bold;
}

.intro-resenas {
    background-color: white;
    padding: 20px;
    border-radius: 4px;
}
.mb-4, label {
    padding: 4px;
    font-size: 20px;
}
legend {
    background-color:#d1ae54 
}
.p-3 {
    background-color: #7580ff;
    background: linear-gradient(90deg,#7070ff 21%, #6b6dff 100%);

}

footer {
    background: #3737a6;
    background: linear-gradient(90deg,#070f2e 21%, #3737a6  100%);
    color: white
} 

