html {
    width: fit-content;
}

.titulo-logo {
    font-size: 23px;
}

body {
    background-color: #e8eaff;
}

.navbar-sobre {
    background-color: #2a2f7b;
}

.navbar-sobre .navbar-brand img {
    object-fit: contain;
    background-color: #d1ae54;
    border-radius: 50%;
    padding: 4px;
}

.navbar-sobre .nav-link {
    font-weight: bold;
    
}

footer {
    background-color: #2a2f7b;
    color: white
} 


